@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Data;
@model DatabaseDemo.Areas.Country.Models.LOC_CountryModel; 
<form method="post" asp-area="Country" asp-controller="LOC_Country" asp-action="LOC_CountrySave">
    <div class="container">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" asp-for="CountryName" placeholder="Enter Country Name" value="@Model.CountryName" aria-label="Country Name"/>
            </div>
            <div class="col">
                <input type="text" class="form-control" asp-for="CountryCode" placeholder="Enter Country Code" value="@Model.CountryCode" aria-label="Country Code"/>
            </div>
            <div class="align-content-center">
                <input type="hidden" value="@Model.CountryID" name="CountryID" />
                <button type="submit" class="btn btn-outline-primary rounded-3">Submit</button>
            </div>
        </div>
    </div>
</form>